<% include partials/header %>

<div class = landing>
  <div id="landing-header">
 		<h1>Welcome to VoteOn!</h1>
 		<h3><strong><em>Every Vote Counts.</em></strong></h3>
		<a href="/home" class="btn btn-lg btn-success">Let's Vote</a>
</div>

<% include partials/footer %>