<% include partials/header %>
<H1>Your Vote</H1>
<div class = "card" "card-body">
    Voter Name - <%=yourVote.fromAddress%>
    <br>
    Candidate Number - <%=yourVote.toAddress%>
</div>

<% include partials/footer %>