<% include partials/header %>
<H1>Your Vote</H1>
<div class = "card" "card-body">
    Voter Name - <%=yourVote.Voter_name%>
    <br>
    Candidate Number - <%=yourVote.Candidate_number%>
</div>

<% include partials/footer %>