<% include partials/header %>

<h1>Home Page</h1>
<a href="/vote" class="btn btn-lg btn-success">Vote</a>
<a href="/track" class="btn btn-lg btn-success">Track your Vote Here</a>

<% include partials/footer %>